# based off examples from https://github.com/alexkaratarakis/gitattributes
*                 text=auto

# Source code
*.bash            text eol=lf
*.bat             text eol=crlf
*.cmd             text eol=crlf
*.coffee          text
*.cs              text diff=csharp
*.cshtml          text diff=html
*.csproj          text merge=union
*.css             text eol=lf diff=css
*.csx             text diff=csharp
*.htm             text diff=html
*.html            text eol=lf diff=html
*.inc             text
*.ini             text
*.js              text eol=lf
*.json            text
*.jsx             text
*.less            text
*.ls              text
*.map             text -diff
*.od              text
*.onlydata        text
*.php             text diff=php
*.pl              text
*.ps1             text eol=crlf
*.py              text diff=python
*.rb              text diff=ruby
*.sass            text
*.scm             text
*.scss            text eol=lf diff=css
*.sh              text eol=lf
*.sln             text eol=crlf merge=union
*.sql             text
*.styl            text
*.tag             text
*.ts              text eol=lf
*.tsx             text
*.xml             text
*.xhtml           text diff=html

# Documentation
*.markdown        text diff=markdown
*.md              text diff=markdown
*.mdwn            text diff=markdown
*.mdown           text diff=markdown
*.mkd             text diff=markdown
*.mkdn            text diff=markdown

# Configs
.editorconfig     text
.gitattributes    text
.gitconfig        text
package.json      text eol=lf
package-lock.json text
