# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/documentation
.angular
.eslintcache
test-results

# Prettier doesn't work with these files
**/*.js
**/*.json
**/*.ts
/.nx/workspace-data
