$black-cow: #474747;
$black: black;
$cloud-gray: #ddd;
$dark-cyan-blue: #35495eb3;
$diesel: #12000a;
$dune: #333;
$electric-aloe: #63e6be;
$electric-teal: #61f8d5;
$gainsboro: #dfdfdf;
$ghost-gray: #f5f5f5;
$golden-bloom: #facf5a;
$gondola: #240015;
$hot-flamingoes: #ff005d;
$icy-petal: #ade8f4;
$jasper: #dc3545;
$lemon-grass: #999;
$midnigh-graphite: #35495e;
$midnight-steel: #131b21;
$night: #12000a;
$nocturne-navy: #0a192f;
$obsidian-veil: #003;
$oxford-blue: #003566;
$pastel-grey: #ccc;
$sky-byte: #0b86ca;
$slate-grey: #6c8391;
$soft-peach: #f0eef0;
$tropical-jade: #48e0c1;
$white: #fff;
