<div class="pw-main-wrapper">
  <header id="pw-header" class="pw-header-wrap d-flex">
    <a href="index.html" class="logo mr-auto"
      ><img src="assets/images/logo/footer-logo.svg" alt="logo"
    /></a>
    <!-- <portfolio-v2-weather-display></portfolio-v2-weather-display> -->
    <nav class="navbar navbar-expand-lg">
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['content/aboutme']">About Me</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['content/skills']">Skills</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['content/experience']">Experience</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['content/portfolio']">Portfolio</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['content/education']">Education</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="assets/PDFs/Resume/Pubudu_Resumes.pdf"
              target="_blank"
              >Resume</a
            >
          </li>
          <li class="nav-item">
            <a [routerLink]="['content/coverletter']">Cover Letter</a>
          </li>

          <!-- This is needed for space between contact button and cover letter menu item -->
          <li class="nav-item contact"></li>
        </ul>
      </div>
    </nav>
    <a
      class="header-btn ml-auto"
      [routerLink]="['content/contact']"
      data-contact-btn="Contact"
      >Contact</a
    >
  </header>
</div>
<router-outlet></router-outlet>
<!-- <portfolio-v2-party-mode></portfolio-v2-party-mode> -->
