<!--// Header \\-->
<div class="pw-main-wrapper">
    <header id="pw-header" class="pw-header-wrap d-flex">
      <a href="index.html" class="logo mr-auto"><img src="assets/images/logo/footer-logo.svg" alt="logo"></a>
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" data-scroll="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-scroll="about">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-scroll="skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-scroll="experience">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-scroll="protfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-scroll="education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#exampleModal">Cover Letter</a>
            </li>
            <li class="nav-item contact">
              <!-- <a class="header-btn bottom-scroll">Contact</a> -->
            </li>
          </ul>
        </div>
      </nav>
      <a class="header-btn ml-auto bottom-scroll">Contact</a>  
    </header>
  </div>
  <!--// Header \\-->
 <portfolio-v2-portfolio></portfolio-v2-portfolio>